name: OSCAL Testing

permissions: {}

on:
  pull_request:
    branches:
      - main
    paths:
      - "gemaraconv/**"
      - "cmd/oscalexport/**"

jobs:
  OSCAL-Test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable
      - name: Generate OSCAL artifacts
        run: make oscal-export
      - name: Setup Java # this is here because oscal-cli-action below needs a java runtime
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        id: setup-java
        with:
          distribution: temurin
          java-version: 17
      - name: Validate OSCAL catalog
        uses: oscal-club/oscal-cli-action@6a8b6368885714e46fa1d4a65a6ce665902e08b7 # v2.1.0
        with:
          args: validate ./artifacts/catalog.json
      - name: Validate OSCAL profile
        uses: oscal-club/oscal-cli-action@6a8b6368885714e46fa1d4a65a6ce665902e08b7 # v2.1.0
        with:
          args: validate ./artifacts/profile.json
      - name: Validate OSCAL guidance catalog
        uses: oscal-club/oscal-cli-action@6a8b6368885714e46fa1d4a65a6ce665902e08b7 # v2.1.0
        with:
          args: validate ./artifacts/guidance.json
